<div class="content-center">
  <div class="container">
    <div class="row">
        <mat-icon>money</mat-icon>
      <h2 class="border-1">{{ titulo | uppercase }}</h2>
    </div>
    <div class="row">

      <h2>De acordo com o questionário que você respondeu, você quer:</h2>
      <p><b>{{ id }}</b> no prazo <b>{{ id1 }}</b> e no período de um ano você pode precisar de <b>{{ id3 }}</b> da porcemtagem investida inicialmente.</p>
      
      <h2>E a Sua familiaridade com os tipode de investimentos, é:</h2>

      <p>Para títulos de renda ou tesouro direto: <b>{{ id4 }}</b></p>
      <br>
      <p>Em Fundos de investimento: <b>{{ id5 }}</b></p>
      <br>
      <p>Sobre ações à vista: <b>{{ id6 }}</b></p>
      <br>
      <p>e para aluguel de ações, termos opções e futuros: <b>{{ id7 }}</b></p>
      
    </div>


  </div>
</div>
