
h2{ color: #BFB294; }

.content-center {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container {
    text-align: center;
    padding: 5px;
}

p, h3{
    color: #767473;
}


.material-icons { color: #BFB294; font-size: 10rem;}
.mat-icon { width: unset;}