<div class="content-center">
      <div class="container">
        <div class="row">
          <img src="../../assets/img/ico-inv.jpg" class="responsive-img"/>
          <h2 class="border-1">{{ titulo | uppercase }}</h2>
        </div>
        <div class="row">
            <p >Em até 48h daremos um retorno sobre a a bertura de sua conta.</p>
            <p>Para receber nossas recomendações de investimentos e começar a investir,<br> precisamos conhecer seu perfil de investidor.</p>
            <p>São apenas 4 perguntas, que irão guiar todas as suas decições de investimentos.</p>
            <h3> Gostaria de responder ao Perfil do investidor?</h3>
        </div>
            
            <div class="row">
              <button mat-raised-button (click)="openTermosDialog()">NÃO</button>
              <button mat-raised-button (click)="openTermosDialog()">SIM</button>
            </div>
          </div>
      </div>
  
  
  <!--<div class="container" style="text-align: center; border: 1px solid red; height: 500px;">
    <div class="row">
        <img src="../../assets/img/ico-inv.jpg" class="responsive-img"/>
      <h2>{{ titulo | uppercase }}</h2>
    </div>
    <p>Em até 48h daremos um retorno sobre a a bertura de sua conta.</p>
    <p>Para receber nossas recomendações de investimentos e começar a investir,<br> precisamos conhecer seu perfil de investidor.</p>
    <p>São apenas 4 perguntas, que irão guiar todas as suas decições de investimentos.</p>
    <h3> Gostaria de responder ao Perfil do investidor?</h3>

    
    <div class="row">
      <button mat-raised-button (click)="openTermosDialog()">Não</button>
      <button mat-raised-button (click)="openTermosDialog()">SIM</button>
    </div>
      
  </div>-->